@font-face {
    font-family: 'inter';
    src: url('./lib/assets/fonts/Inter-VariableFont_opsz,wght.ttf');
    font-weight: 100 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    box-sizing: border-box;
    font-family: inter, sans-serif;
    list-style: none;
}

body {
    /* font sizes, fluid between 320px and 1280px viewport width */
    --heading-small: clamp(1.25rem, 1.167rem + 0.417vw, 1.5rem);
    --heading-medium: clamp(1.5rem, 1.333rem + 0.833vw, 2rem);
    --heading-big: clamp(2rem, 1.667rem + 1.667vw, 3rem);

    --paragraph-small: 0.75rem;
    --paragraph-medium: 1rem;
    --paragraph-big: clamp(1rem, 0.958rem + 0.208vw, 1.125rem);

    /* colors */
    --primary-background-color: #0b0b0c;
    --secondary-background-color: #303031;

    --primary-text-color: #ffffff;
    --secondary-text-color: #9FA6AD;

    --primary-accent-color: #53fc18;

    --active-color: #42474D;

    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

p, a, span, button, summary {
    font-family: inter, sans-serif;
    font-weight: 400;
    font-size: var(--paragraph-medium);
    color: var(--primary-text-color);
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: var(--heading-big);
    line-height: 3.5rem;
}

h2 {
    font-weight: 700;
    font-size: var(--heading-medium);
    line-height: 2.5rem;
}

h3 {
    font-weight: 600;
    font-size: var(--heading-small);
    line-height: 2rem;
}

:focus-visible{
    outline: 2px solid var(--primary-accent-color);
}